<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>2</string>
					<key>EndingLineNumber</key>
					<string>5</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>5</string>
					<key>Timestamp</key>
					<string>777127221.637984</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>worship-sampler/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    @StateObject private var metronomeEngine = MetronomeEngine()
    @StateObject private var samplerEngine: SamplerEngine
  </string>
				<key>trailing</key>
				<string>  @StateObject private var padEngine = ContinuousPadEngine()
    
    let samplerPads: [Pad]
</string>
			</dict>
			<key>title</key>
			<string>Warning: Non-breaking space (U+00A0) used instead of regular space</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
